/* HASSANS CSS */
.popular-product-box {
    text-align: center;
}

.homepage-boxes-shadow {
    box-shadow: 0 1px 10px rgba(0, 0, 0, .12);
}

.category-icon-box {}

.category-icon-box>i:first-child {
    font-size: 120px;
    text-align: center;
}

.category-icon-box i:hover {
    color: #01d7e1;
    transition: 0.5;
    transition-property: color;
    transition-duration: 0.5s;
}

/* DOCUMENT SETTING */

html {
    line-height: 1.29;
    font-size: 13px;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: inherit;
    color: #000000;
    font-size: 1rem;
    background: #eee;
}

@media all and (min-width:570px) {

    html {
        font-size: 14px;
    }
}

@media all and (min-width:760px) {

    html {
        font-size: 15px;
    }
}

@media all and (min-width:990px) {

    html {
        font-size: 16px;
    }
}

.bg-dark {
    background-color: #17161d !important;
}

.text-primary {
    color: #01d7e1 !important;
}

.btn {
    border-radius: 0;
}

.btn-dark {
    background-color: #17161d;
}

/* NAVBAR */

.navbar form>* {
    border: none;
    border-radius: 0;
}

.navbar form .form-control {
    background-color: #292733;
    color: #65636c;
}

.navbar form .form-control:focus {
    color: #ffffff;
    border: none;
    outline: 0;
    box-shadow: none;
}

.navbar form button {
    background-color: #01d7e1;
    color: #f2f2f2;
}

.navbar form button:hover {
    background-color: rgba(1, 214, 225, 0.829);
}

.navbar .navbar-nav .nav-link {
    font-weight: 600;
    color: #ffffff;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #01d7e1;
}

.navbar-brand {
    font-weight: 700;
    font-size: 1.8rem;
}

.navbar-toggler {
    border-radius: 0;
}

nav[aria-label="breadcrumb"] {
    background: #fafafa;
}

.breadcrumb {
    background: #fafafa;
    padding-left: 0;
    padding-right: 0;
    font-size: 0.875rem;
    font-weight: 500;
}

.breadcrumb a {
    color: #03b2ba;
}

/* Item Page */

.item-detail-section {
    margin-bottom: 25px;
}

.item-detail-wrapper,
.item-detail-section {
    background: #ffffff;
}

.item-detail-section .item-details h2 {
    font-size: 1.2rem;
}

.item-detail-section .item-details .item-rating {
    color: #ff9800;
    font-size: 0.875rem;
}

.item-details-list {
    font-size: 0.938rem;
}

.item-details-list p span:last-of-type {
    color: #01d7e1;
    font-size: 1.1rem;
    font-weight: 500;
}

.item-order .btn {
    border: none;
    border-radius: 0;
}

.item-review img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.item-review .user-review {
    font-size: 0.89rem;
}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 20px;
}

/* Footer */
footer {
    background: #303030;
    padding: 25px 0;
    color: #f1f1f1;
}

footer p,
footer ul {
    margin: 0;
    color: #f1f1f1;
}

footer a {
    color: #01d7e1;
}

footer a:hover {
    color: #03b2ba;
}

/* User Profile Page */

.user-profile-section {
    background: #ffffff;
}

.user-profile-image img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}